body{
    margin: 0;
    padding: 0;
    background-color: #e3e5e2;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: #fafafa;
}
.header{
    height: 100px;
    background-color: #ad131f;
    display: flex;
    justify-content: center;
    border-bottom: #eda43d 3px solid;
}
.header .container{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar{
    color: white;
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     width: 600px;
     list-style: none;
     font-weight: 600;
 }
 
.header h1{
    margin: 0;
    padding: 0;
    font-size: 35px;
    color: #fafafa;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: black;
}
#nomedousuario{
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
}
#sessaoatual{
    background-color: #03497a;
    color: #fafafa;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 1.5px 1.5px black;
}
.postagem{
    display: flex;
    justify-content: center;
}
.postagem button{
    border: none;
    background-color: #03497a;
    color: #fafafa;
    height: 35px;
    width: 85px;
    font-size: 17px;
    font-weight: 600;
    margin-left: 20px;
}
#form_postagem{
    display: flex;
    align-items: center;
}
.postagem textarea{
    margin-top: 20px;
    width: 680px;
    height: 181px;
    font-size: 15px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
#feed{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}


#div_btn{
    align-self: flex-end;
    justify-self: flex-end;
}
#feed_container{
    display: flex;
    flex-direction: column-reverse;
    width: 43%;
}

.publicacao {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    border: 1px solid black;
    padding: 20px;
    background-color: #fafafab2;
    margin-top: 30px;
    font-size: 18px;
  }
  
  .publicacao > *:not(:last-child) {
    padding: 0 0 10px 0;
  }
  
  .div-results {
    width: 100%;
  }
  
  .div-results .feed-container {
    background-color: #212124;
    border-radius: 5px;
    margin-bottom: 80px;
  }

  .btn_feed{
      align-self: flex-end;
      width: 9%;
      border: none;
      background-color: #03497a;
      color: #fafafa;
      font-weight: 600;
      height: 21px;
      border-radius: 5px;
      text-align: center;
      font-size: 14px;
  }

  .msg_class{
      text-align: center;
  }

  #feed_container h3{
      text-align: center;
  }
  